body {
  margin: 0;
}

.grid-container {

  display: grid;
  grid-template-columns: 11.625% 11.625% 11.625% 11.625% 11.625% 11.625% 11.625% 11.625%;
  grid-template-rows: 11.625% 11.625% 11.625% 11.625% 11.625% 11.625% 11.625% 11.625%;
  grid-template-areas:
  'imag1 imag1 imag2 imag2 imag3 imag3 imag4 imag4'
  'imag1 imag1 imag2 imag2 imag3 imag3 imag4 imag4'
  'imag5 imag5 imag6 imag6 imag7 imag7 imag8 imag8'
  'imag5 imag5 imag6 imag6 imag7 imag7 imag8 imag8'
  'empty empty empty empty empty empty empty empty'
  'chick chick chick inner inner fridge fridge fridge'
  'chick chick chick inner inner fridge fridge fridge'
  'chick chick chick bowl bowl fridge fridge fridge';
  grid-gap: 1%;
  background-color: pink;
  background-size: 100% 100%;

  width: 70vw;
  height: 100vh;
  padding: 1%;
  box-sizing: border-box;

}

.grid-container > div {
/*				background-color: rgba(255,255,255,0.8);
  border: 2px solid;*/
  text-align: center;
  vertical-align: middle;
}

.item1 { grid-area: imag1; }
.item2 { grid-area: imag2; }
.item3 { grid-area: imag3; }
.item4 { grid-area: imag4; }
.item5 { grid-area: imag5; }
.item6 { grid-area: imag6; }
.item7 { grid-area: imag7; }
.item8 { grid-area: imag8; }
.chick { grid-area: chick; }
.fridge { grid-area: fridge; }
.inner { grid-area: inner; }
.bowl { grid-area: bowl; }
.video {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 9;
}

/* .firework {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 6;
  grid-column-end: 9;
} */

#video {
  display: none;
  margin: 0 auto;
}
.message {
  grid-area: empty;

  color: #1A3835;
  font-size: 22px;
  font-style: italic;
  font-family: 'Merriweather';
  font-weight: 500;
  line-height: 30px;
  position: relative;
 }


.image {
  display: inline-block;
  height: 90%;
  max-width: 100%;
}

.image:hover {
  opacity: 0.7;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transform: scale(1.05);
}
